@model thirdAssignment.Aplication.Models.LabTest.LabTestModel

<div>
    <form method="post" asp-controller="LabTest" asp-action="DeleteLabTest">
        <input type="hidden" name="SeriesId" value="@Model.Id" />
        <h1>Are you sure you want to delete this Lab Test?</h1>
        <button type="submit" class="btn btn-danger float-end p-2">Delete</button>
        <a asp-controller="LabTest" asp-action="index" class="btn btn-outline-warning float-end p-2 mx-2">Go Back</a>
    </form>
</div>