@model thirdAssignment.Aplication.Models.LabTestModel
@if (ViewBag.message is not null)
{
    <p class="alert-danger d-block text-center">@ViewBag.message</p>
}
<div class="row">
    <div class="col-8 offset-2">
        <div class=" bg-dark text-light">
            <h1 class="text-center"> Edit the lab test</h1>
        </div>
        <div class="card shadow-sm">
            <div class="card-body">
                <section>
                    <form method="post" asp-controller="LabTest" asp-action="EditLabTest">

                        <input type="text" name="Id" class="visually-hidden" value="@Model.Id" />
                        <div class="mb-3">
                            <label for="Name" class="form-label"> Name</label>
                            <input type="text" name="Name" class="form-control" value="@Model.Name" />
                        </div>
                        <div class="mb-3">
                            <label for="Description" class="form-label"> Description</label>
                            <input type="text" name="Description" class="form-control" value="@Model.Description" />
                        </div>
                        <div class="p-2">
                            <button asp-controller="LabTest" asp-action="EditLabTest" class="btn btn-primary  float-end  p-2 "> Edit </button>
                            <a asp-controller="LabTest" asp-action="Index" class="btn btn-outline-warning  float-end  p-2  mx-2"> Go Back </a>
                        </div>
                    </form>

                </section>
            </div>
        </div>
    </div>
</div>