﻿
@model List<thirdAssignment.Aplication.Models.LabTest.LabTestModel>


<div class="container mt-4">
    <h1 class="display-4 mb-4 text-center font-weight-bold">Lab test's Maintenance</h1>
    <a asp-controller="LabTest" asp-action="SaveLabTest" class="btn btn-primary mb-4">Add a new Lab Test</a>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th class="text-center">Edit</th>
                    <th class="text-center">Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var LabTest in Model)
                {
                    <tr>
                        <td>@LabTest.Name</td>
                        <td class="text-center">
                            <a href="@Url.Action("EditLabTest", "LabTest", new { id = LabTest.Id })" class="btn btn-info btn-sm">Edit</a>
                        </td>
                        <td class="text-center">
                            <a href="@Url.Action("DeleteLabTest", "LabTest", new { id = LabTest.Id })" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>