
@model thirdAssignment.Aplication.Models.User.UserModel


<div>
    <form method="post" asp-controller="User" asp-action="DeleteUser">
        <input type="hidden" name="SeriesId" value="@Model.Id" />
        <h1>Are you sure you want to delete this User?</h1>
        <button type="submit" class="btn btn-danger float-end p-2">Delete</button>
        <a asp-controller="User" asp-action="index" class="btn btn-outline-warning float-end p-2 mx-2">Go Back</a>
    </form>
</div>